@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 65%;
    font-family: 'Source Sans 3', sans-serif;
    scroll-behavior: smooth;
}